body{
	height: auto;
    width: 400px;
    margin: 10px 50px 0px 50px;
	background-color: #cfd2e0;
}

.container{
	border:1px solid black;
	width:auto;
	height: auto;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.head{
	display: flex;
	flex-direction: row;
    margin: 10px;
    border: 3px solid #000;
    justify-content: space-evenly;
    align-items: center;
	width: auto;
}
.corpo{
	height: auto;
	width: auto;
}
img{
    width: 30%;
    margin: 5px;

}
.inspecao{
	text-align: center;
	font-size:30px;
	font-weight: bolder;
	color:  #e74c3c;
}
#nav1{
	display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border: 3px solid black;
    justify-content: flex-start;
    align-items: stretch;
    width: auto;
    flex-wrap: wrap;
    align-content: space-around;
}
.proc_codigo{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 30px;
}
#p_cod{
	margin: 5px;
    height: 22px;
    border: 3px solid #e74c3c;
    text-align: center;
    color: #e74c3c;
    font-weight: bolder;
    border-radius: 15px;
}
#p_cod:focus{
	background-color: #f0f0f0;
	color:  rgb(0, 16, 96);
	border: 3px solid  rgb(0, 16, 96); 
	
}
#p_cod:focus{
	background-color: #f0f0f0;
	color:  rgb(0, 16, 96);
	border: 3px solid  rgb(0, 16, 96); 
}
#p_cod:focus::placeholder{

	color:  rgb(255, 255, 255); 
}
.btn_proc{
	background-color: #f0f0f0;
	color: #e74c3c;
	width: 150px;
	height: 30px;
	font-weight: bolder;
	border-radius: 5px;
	border: 3px solid #e74c3c;
}
.descricaoTrue{
	background-color: #f0f0f0;
	color: #e74c3c;
	width: 150px;
	height: 20px;
	border-radius: 5px;
	border: 3px solid #e74c3c;
	align-items: center;
	text-align: center;
	margin: 5px;
	padding: 2px;
}

#mensageResultLote{
	width: auto;
	height: auto;
	padding: 5px;
	background-color: #f0f0f0;
}
#msgResultCalculate{
	width: auto;
	height: auto;
	padding: 5px;
	background-color: #f0f0f0;
}
.descricaoTolerancia{
	color: #e74c3c;
	width: 3px;
	height: 20px;
	border-radius: 5px;
	border: 3px solid #e74c3c;
	align-items: center;
	text-align: center;
	margin: 5px;
	padding: 10px;
}
.btns_amostra{
	display: flex;
	flex-direction: column;
	margin: 10px;
	align-items: center;
}
.btn_btns{
	display: flex;
	flex-direction:row;
	background-color: #f0f0f0;
	color: #e74c3c;
	width: 80px;
	height: 30px;
	border-radius: 5px;
	font-weight: bolder;
	border: 3px solid #e74c3c;
	align-items: center;
	border-radius: 15px;
	margin: 5px;
	padding-inline: 30px;
}
.btns{
	display: flex;
	flex-direction:row;
	text-align: center;
	align-items: center;
	
}
.btn_btns:active,.btn_proc:active{
	background-color: #f0f0f0;
	color:  rgb(0, 16, 96);
	border-radius: 5px;
	border: 3px solid  rgb(0, 16, 96); 
	text-align: center;
}

#i_selec{
	text-align: center;
	font-size:15px;
	margin:10px;
	font-weight: bolder;
	color:  #e74c3c;
}
#nav2{
	margin: 10px;
	padding: 10px;
	border:3px solid black;
	justify-content: center;
	align-items: center;
}
#idDivGramatures{
    grid-gap: 7px;
    width: auto;
    height: 180px;
    padding: 5px;
    display: flex;
    margin: 3px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: center;
    justify-content: flex-start;
}
.divGramatures{
	display: flex;
	align-items: center;
}
.label_amostras{
    font-weight: bolder;
    width: 30px;
    height: 20px;
    background-color: #f0f0f0;
    color: #cf2e2e;
    border-radius: 10px;
    border: 3px solid #cf2e2e;
    text-align: center;
    font-size: 18px;
    padding: 1px;
}
.campos_amostras{
	display: block;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    width: 50px;
    height: 20px;
    background-color: #f0f0f0;
    color: #cf2e2e;
    border-radius: 10px;
    border: 3px solid #cf2e2e;
}
.campos_amostras:focus{
	background-color: #f0f0f0;
	color:  rgb(0, 16, 96);
	border: 3px solid  rgb(0, 16, 96); 
}
.divBtCheck{
	width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}
.bt_check{
	width: 88%;
	height: auto;
    display: block;
    text-align: center;
    font-size: 19px;
    font-weight: bolder;
    background-color: #f0f0f0;
    color: #cf2e2e;
    border-radius: 10px;
    border: 3px solid #cf2e2e;
}
.bt_check:active{
    font-size: 19px;
    font-weight: bolder;
    background-color: #f0f0f0;
    border-radius: 10px;
	color:  rgb(0, 16, 96);
	border: 3px solid  rgb(0, 16, 96); 
}
.listTeste{
	align-items: center;
	text-align: center;
	justify-content: center;
}